<br>
<div>
    <div class="checkbox" style="float: left;"></div>
    <div class="checkbox" style="float: left; margin-right: 10px;"><label><input type="checkbox" name="picador"> Picador implacavel</label></div>
    <div class="checkbox" style="float: left; margin-right: 10px;"><label><input type="checkbox" name="liquidificador"> Liquidificador implacavel</label></div>
    <div class="checkbox" style="float: left; margin-right: 10px;"><label><input type="checkbox" name="atomizador"> Atomizador implacavel</label></div>
    <div class="checkbox" style="float: left; margin-right: 10px;"><label><input type="checkbox" name="exterminador"> Exterminador implacavel</label></div>
</div>
<br>