<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav" style="margin-left: 7%">
			<li><a href="/">Search recipes</a></li>
			<li><a href="/show_all">Show all recipes</a></li>
			<li><a href="/add">Add recipes/ingredients</a></li>
			<li><a href="/suggestions">Suggestions</a></li>
		</ul>
	  
	</div>
</nav>