<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<form id="add_recipe">
			<div class="row" style="margin-left: 7%; margin-right: 7%;">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="recipe">Recipe name:</label>
						<input type="text" class="form-control" id="recipe_name" name="recipe_name">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="recipe">Recipe link:</label>
						<input type="text" class="form-control" id="recipe_link" name="recipe_link">
					</div>
				</div>
			</div>
		</form>
		<div class="container">
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-2">
					<button id="search_button" type="button" class="btn btn-default" onclick="addRecipeFrom('add_recipe')">Add recipe</button>
				</div>
				<div class="col-sm-5"></div>
			</div>
		</div>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>
	<% include ../partials/scripts %>
	<script>
        add_ingredient_list_to("add_recipe");
	</script>
</body>
</html>