<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<form id="add_recipe">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="recipe">Recipe name:</label>
						<input type="text" class="form-control" name="recipe_name">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="recipe">Recipe link:</label>
						<input type="text" class="form-control" name="recipe_link">
					</div>
				</div>
			</div>
			<% include ../partials/ingredient_checkboxes %>
		</form>
		<div class="container">
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-2">
					<button id="search_button" type="button" class="btn btn-default" onclick="addRecipe()">Add recipe</button>
				</div>
				<div class="col-sm-5"></div>
			</div>
		</div>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>
	<script>
        function addRecipe() {
            var xmlhttp=new XMLHttpRequest();
            var url = "add";
            var checkBoxes_formData = new FormData(document.getElementById("add_recipe"));
            var checkBoxes_formData_objectified = {};
            for (var pair of checkBoxes_formData.entries()) {
                checkBoxes_formData_objectified[pair[0].toString()] = pair[1];
            }
            //console.log(checkBoxes_formData_objectified);
            var myJSON = JSON.stringify(checkBoxes_formData_objectified);
            //console.log(myJSON);
            xmlhttp.open("POST",url,true);
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(myJSON);
            alert("Recipe added. Thanks!")
        }
	</script>
</body>
</html>