<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1 class="text-center">Finding recipes is EasyPeaZ</h1>
			<p class="text-center">Just mark what you have currently available and we will show you compatible recipes!</p>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>