<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div id="splash" class="jumbotron" style="padding:20px;">
			<h1 class="text-center">Finding recipes is EasyPeaZ</h1>
			<p class="text-center">Just mark what you have currently available and we will show you compatible recipes!</p>
		</div>
		<div id="selectors" class="container">
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-1">
					<button class="btn btn-default" onclick="setAll(true)">Select all</button>
				</div>
				<div class="col-sm-1">
					<button class="btn btn-default"onclick="setAll(false)">Select none</button>
				</div>
				<div class="col-sm-5"></div>
			</div>
		</div>
		<br>
		<form id="search_recipe">
		</form>
		<div class="container">
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-2">
					<button id="search_button" type="button" class="btn btn-default" onclick="postData()">Search recipe</button>
					</div>
					<div class="col-sm-5"></div>
			</div>
		</div>
		<div id="results" style="text-align: center">

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<% include ../partials/scripts %>
	<script>
        add_ingredient_list_to("search_recipe");
	</script>
</body>
</html>