<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div id="splash" class="jumbotron">
			<h1 class="text-center">Finding recipes is EasyPeaZ</h1>
			<p class="text-center">Just mark what you have currently available and we will show you compatible recipes!</p>
		</div>
		<div id="selectors" class="container">
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-1">
					<button class="btn btn-default" onclick="setAll(true)">Select all</button>
				</div>
				<div class="col-sm-1">
					<button class="btn btn-default"onclick="setAll(false)">Select none</button>
				</div>
				<div class="col-sm-5"></div>
			</div>
		</div>
		<form id="search_recipe">
			<% include ../partials/ingredient_checkboxes %>
		</form>
		<div class="container">
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-2">
					<button id="search_button" type="button" class="btn btn-default" onclick="postData()">Search recipe</button>
					</div>
					<div class="col-sm-5"></div>
			</div>
		</div>
		<div id="results" style="text-align: center">

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<script>
        function setAll(checked) {
            if(checked){
                $('input:checkbox').not(this).prop('checked', true);
			}
			else{
                $('input:checkbox').not(this).prop('checked', false);
			}
        }
        function postData() {
            var xmlhttp=new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var div=document.getElementById("results");
                    div.innerHTML="";
                    var myObj = JSON.parse(this.responseText);
                    console.log(myObj)
                    for(var key in myObj){
                        div.innerHTML+="<p><a href=\""+myObj[key].recipe_link+"\">"+key+"</a></p>";
                    }
                    var elem = document.getElementById('splash');
					elem.parentNode.removeChild(elem);
					var elem = document.getElementById('selectors');
					elem.parentNode.removeChild(elem);
					var elem = document.getElementById('search_recipe');
					elem.parentNode.removeChild(elem);
                    var elem = document.getElementById('search_button');
                    elem.parentNode.removeChild(elem);
                    //document.getElementById("result").innerHTML=xmlhttp.responseText;
                }
            }

            var url = "search_result";
            var checkBoxes_formData = new FormData(document.getElementById("search_recipe"));
            var checkBoxes_formData_objectified = {};
            for (var pair of checkBoxes_formData.entries()) {
                checkBoxes_formData_objectified[pair[0].toString()] = pair[1];
            }
            //console.log(checkBoxes_formData_objectified);
            var myJSON = JSON.stringify(checkBoxes_formData_objectified);
            //console.log(myJSON);
            xmlhttp.open("POST",url,true);
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(myJSON);
        }
	</script>
</body>
</html>