<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div id="results" style="text-align: center">

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<% include ../partials/scripts %>
	<script>
		show_all();
	</script>
</body>
</html>